/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Lattes - One page multi purpose page
Version:	1.0
Last change:	17/08/2015 [...]
Designed by:	MOOZ Themes / www.MOOZthemes.com
Primary use:	One page

[Table of contents]

1. General
2. Header
3. Navigation
4. Sections
5. Footer
6. Components

[Color codes]

Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/

/*--------------------
Import Google Fonts
--------------------*/

/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/* font for headings, text, tags */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic&subset=latin,latin-ext);

/*--------------------
1. General
--------------------*/

body {
  margin: 0px;
    font-family: "Open Sans", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Open Sans", Sans-serif;
    color: #2D2D2D;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
	line-height: 23px;
    letter-spacing: 0.2px;
    color: #797979;
}

a:hover, a:focus, a:active, a.active {
    color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

@media (min-width: 768px) {
	section {
	    padding: 150px 0;
	}
}

section {
    padding: 70px 0;
}

/*--------------------
2. Navigation
--------------------*/

nav {
    height: 80px;
    background-color: #3498DB;
}

.logo-nav {
    float: left;
    width: ;
    margin-top: 5px;
    margin-bottom: px;
    margin-left: 25px;
}

.slogan {
    text-align:center;
    margin-top: 30px;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
}

/*--------------------
3. Header
--------------------*/



/*--------------------
4. Sections
--------------------*/

.section-title h2 {
    font-size: 34px;
    text-transform: uppercase;
}

.section-title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 20px 100px 60px 100px;
}

/*--------------------
4.1. About
--------------------*/



/*--------------------
4.2. Skills
--------------------*/



/*--------------------
4.3. Portfolio
--------------------*/

figure {
	position: relative;
    overflow: hidden;
    margin: 10px 1%;
    background: #726FB9;
    text-align: center;
    cursor: pointer;	
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
	background: #000;
	margin-bottom: 30px;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

.dark-bg {
    background: #323232;
    color: #fff;
}

.bg-img1 {
    background-image: url(../images/demo/office-bg.jpg);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.light-bg {
	background-color: #f8f8f8;
}

.overlay-dark:before, .overlay-light:before {
    background-color: rgba(32,32,32,0.8);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.overlay-dark, .overlay-light {
    position: relative;
    z-index: 1;
}

.short-section {
    padding-top: 110px;
    padding-bottom: 110px;
}

.counter-item h2 {
    color: #fff;
    font-size: 60px;
    margin: 0;
}

.counter-item h6 {
    color: #fff;
    font-size: 19px;
    margin: 0;	
}

/*--------------------
4.5. Partners Slider
--------------------*/


/*--------------------
4.6. Team
--------------------*/

  .mr-hebergement{
 background-image: url("../images/heberge.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }
  .links ul{
    background-color: #2eb8b8;
  }
  .mr-header{
    background-color: #404040;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  .mr-header:hover{
    background-color: #cc0066;
  }
  .mr-row  .panel-heading{
    background-color: #0E7A7A;
  color: #fff;
  padding: 10px 7px;
  margin: 0px;
  font-size: 15px;
  font-weight: bold;
  }
  .mr-row  .panel-heading:hover{
    background-color: #006600;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  }
  section i{
    color: green;
  }
  /*End section Hebergement*/


/*--------------------
4.7. Contacts
--------------------*/


/*--------------------
5. Footer
--------------------*/

    

/*--------------------
6. Modal
--------------------*/

.modal-content {
	border-radius: 0;	
}
.modal-header .close {
	font-size: 30px;	
}
.modal-title {    
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;		
}

.modal-works {
font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
}

.modal-works span {
	background-color: #FED136;
    margin-right: 15px;
    padding: 5px 10px;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: padding: 30px;
    background-color: #000;    
}

/* ********** FOOTER *********** */

footer p {
    color: #000;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #3498DB;
}

/* ******* END FOOTER ******** */

.btn-xl {
    color: #fff;
     background-color: #726FB9;
    border-color: #726FB9;
    font-family: "Robot",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

/* Back to top button
---------------------------------- */
#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}
#back-top a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #A9A9B1;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    background: #fed136;
}
/* arrow icon (span tag) */
#back-top i {
    margin-top: 15px;
    font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
#back-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
}
#back-top a {
    width: 40px;
    height: 40px;
}
#back-top i {
    margin-top: 7px;
    font-size: 20px;
}
}
